doctype html
html(lang='en')

  //- Variable block for page-specific info
  block vars

  head

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1, minimum-scale=1')

    meta(name='description', content=pageDescription)
    meta(name='author', content='Van Huy')

    if bodyClass == 'home'
      title Van Huy
    else
      title #{pageTitle} | Van Huy

    link(rel='icon', href='/assets/images/archive/2023/favicon.png', sizes='any')
    link(rel='icon', href='/assets/images/archive/2023/favicon.svg', type='image/svg+xml')

    link(rel='alternate', type='application/rss+xml', title='Van Huy’s Thoughts Feed', href='https://vanhuy.r2b.io.vn/feed.xml')

    //- check light/dark mode
    script(type='text/javascript').
      if (localStorage.getItem("user-color-scheme") !== null) {
        document.documentElement.setAttribute("data-user-color-scheme", localStorage.getItem("user-color-scheme"));
      };

    link(rel='stylesheet', href='/assets/css/main.css')
    block styles

    link(href='/assets/fonts/archive/2023/NewTitle-Variable.woff2', rel='preload', as='font', type='font/woff2', crossorigin)

    if bodyClass !== 'utility'
      meta(property='og:type',  content='website')
      meta(content=pageDescription, property='og:description')
      if bodyClass == 'thought-detail'
        meta(content='https://vanhuy.r2b.io.vn/thoughts/entries/' + pagePath, property='og:url')
        meta(content=pageTitle, property='og:title')
      else if bodyClass == 'home'
        meta(content='https://vanhuy.r2b.io.vn', property='og:url')
        meta(content='Van Huy', property='og:title')
      else
        meta(content='https://vanhuy.r2b.io.vn/' + pagePath, property='og:url')
        meta(content=pageTitle, property='og:title')
      if ogImage
        if ogImage.indexOf('http') === 0
          meta(content=ogImage, property='og:image')
        else if ogImage.indexOf('/') === 0
          meta(content='https://vanhuy.r2b.io.vn' + ogImage, property='og:image')
        else
          meta(content='https://vanhuy.r2b.io.vn/assets/images/OG/' + ogImage + '.jpg', property='og:image')
      else
        meta(content='https://vanhuy.r2b.io.vn/assets/images/OG/og-default.png', property='og:image')

  body.no-js(class=bodyClass)

    a.skip-link(href='#content') Skip to main content

    include includes/main-nav

    if bodyClass == 'home'
      .glitch
    header#content.header-main(class=bodyClass)
      if bodyClass == 'thought-detail'
        if replaceTitle
          h1= replaceTitle
        else
          h1= pageTitle
          .callout.date
            small= date
      else
        block header

    if bodyClass == 'gifs'
      block content
    else
      main
        if bodyClass == 'thought-detail'
          .content
            block content
          nav.thoughts-nav
            div.later
              if (typeof(later) !== 'undefined')
                span ←
                a.later(href='/thoughts/entries/' + later) Newer post
            div.back
              a(href='/thoughts') All thoughts
            div.earlier
              if (typeof(earlier) !== 'undefined')
                a.earlier(href='/thoughts/entries/' + earlier) Older post
                span →
        else
          block content

    if bodyClass !== 'home'
      footer.main-footer
        nav
          a(href='mailto:nvh.adser@gmail.com') Email
          a(href='/feed.xml') RSS

        nav
          a(href='https://www.facebook.com/nvh.abcd') Facebook
          a(href='https://www.linkedin.com/in/van-huy-5b584023a/') LinkedIn
          a(href='https://zalo.me/0984991924') Zalo

        p.credits Theme by #[a(href='https://github.com/lynnandtonic') Lynn Fisher]. Thank you ❤

    script(src='/assets/js/archive/2023/main.min.js')
    block scripts
